In [9]:
import pandas as pd
import numpy as np
from ast import literal_eval
from datetime import datetime

In [10]:
df1 = pd.read_csv('data/budget1.csv')
df2 = pd.read_csv('data/budget2.csv')
df3 = pd.read_csv('data/budget3.csv')
df4 = pd.read_csv('data/budget4.csv')
df5 = pd.read_csv('data/budget5.csv')
df6 = pd.read_csv('data/budget6.csv')
df7 = pd.read_csv('data/budget7.csv')
df8 = pd.read_csv('data/budget8.csv')
df9 = pd.read_csv('data/budget8.csv')
df10 = pd.read_csv('data/budget10.csv')

In [11]:
df_all = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])
df_all.shape

(987, 8)

In [12]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 987 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       987 non-null    object
 1   link_stub        987 non-null    object
 2   rank_all_movies  987 non-null    object
 3   release          987 non-null    object
 4   title            987 non-null    object
 5   budget           987 non-null    int64
 6   domestic_gross   987 non-null    object
 7   worldwide_gross  987 non-null    object
dtypes: int64(1), object(7)
memory usage: 69.4+ KB

In [13]:
df_all.to_csv('budget-all.csv')

In [15]:
df_all.sample(10)

,Unnamed: 0,link_stub,rank_all_movies,release,title,budget,domestic_gross,worldwide_gross
29,"Dec 5, 2014",/box-office-chart/daily/2014/12/05,231,"Dec 5, 2014",Exodus: Gods and Kings,140000000,"$65,014,513","$268,314,513"
30,"Jun 30, 2016",/box-office-chart/daily/2016/06/30,232,"Jun 30, 2016",The BFG,140000000,"$55,483,770","$199,646,680"
18,"Nov 22, 2002",/box-office-chart/daily/2002/11/22,220,"Nov 22, 2002",Die Another Day,142000000,"$160,942,139","$431,942,139"
29,"Feb 3, 2021",/box-office-chart/daily/2021/02/03,430,"Feb 3, 2021",Chaos Walking,100000000,$0,$0
42,"Nov 5, 2014",/box-office-chart/daily/2014/11/05,143,"Nov 5, 2014",Interstellar,165000000,"$188,017,894","$652,547,455"
36,"Jun 10, 2005",/box-office-chart/daily/2005/06/10,337,"Jun 10, 2005",Mr. and Mrs. Smith,110000000,"$186,336,279","$486,124,090"
35,"Dec 20, 2002",/box-office-chart/daily/2002/12/20,436,"Dec 20, 2002",Gangs of New York,97000000,"$77,730,500","$183,124,621"
18,"Mar 12, 2010",/box-office-chart/daily/2010/03/12,419,"Mar 12, 2010",Green Zone,100000000,"$35,497,337","$97,523,020"
41,"Dec 10, 2004",/box-office-chart/daily/2004/12/10,342,"Dec 10, 2004",Ocean's Twelve,110000000,"$125,531,634","$362,989,076"
59,"May 21, 2014",/box-office-chart/daily/2014/05/21,60,"May 21, 2014",X-Men: Days of Future Past,200000000,"$233,921,534","$747,862,775"